# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
.venv/
venv/

# Environment variables
.env

# uv
.uv_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# Project specific
holes-backups/
*holes-backups*/
fp-info-cache

# Temporary files
~*
*~
\#*
.python_version

# Mac
.DS_STORE
